<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">   
<welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        
        <servlet-name>Home</servlet-name>
        <servlet-class>Controlador.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet1</servlet-name>
        <servlet-class>Controlador.ChartServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet3</servlet-name>
        <servlet-class>Controlador.ChartServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>Controlador.ChartServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>Proveedores</servlet-name>
        <servlet-class>Controlador.Proveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Residencia</servlet-name>
        <servlet-class>Controlador.Residencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Habitacion</servlet-name>
        <servlet-class>Controlador.Habitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aseo</servlet-name>
        <servlet-class>Controlador.Aseo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estudiantes</servlet-name>
        <servlet-class>Controlador.Estudiantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignarEstudiantes</servlet-name>
        <servlet-class>Controlador.AsignarEstudiantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listar</servlet-name>
        <servlet-class>Controlador.Listar</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>Peticion_Proveedores</servlet-name>
        <servlet-class>Controlador.Peticion_Proveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peticion_Residencia</servlet-name>
        <servlet-class>Controlador.Peticion_Residencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peticion_Habitacion</servlet-name>
        <servlet-class>Controlador.Peticion_Habitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peticion_Aseo</servlet-name>
        <servlet-class>Controlador.Peticion_Aseo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peticion_Estudiante</servlet-name>
        <servlet-class>Controlador.Peticion_Estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peticion_AsignarEstudiante</servlet-name>
        <servlet-class>Controlador.Peticion_AsignarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Proveedor</servlet-name>
        <servlet-class>Controlador.Eliminar_Proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Residencia</servlet-name>
        <servlet-class>Controlador.Eliminar_Residencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Habitacion</servlet-name>
        <servlet-class>Controlador.Eliminar_Habitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Aseo</servlet-name>
        <servlet-class>Controlador.Eliminar_Aseo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Estudiante</servlet-name>
        <servlet-class>Controlador.Eliminar_Estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_AsignarEstudiante</servlet-name>
        <servlet-class>Controlador.Eliminar_AsignarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar_Proveedor</servlet-name>
        <servlet-class>Controlador.Actualizar_Proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar_Residencia</servlet-name>
        <servlet-class>Controlador.Actualizar_Residencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar_Habitacion</servlet-name>
        <servlet-class>Controlador.Actualizar_Habitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar_Aseo</servlet-name>
        <servlet-class>Controlador.Actualizar_Aseo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar_Estudiante</servlet-name>
        <servlet-class>Controlador.Actualizar_Estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar_AsignarEstudiante</servlet-name>
        <servlet-class>Controlador.Actualizar_AsignarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Controlador.index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proveedores</servlet-name>
        <url-pattern>/Proveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Residencia</servlet-name>
        <url-pattern>/Residencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Habitacion</servlet-name>
        <url-pattern>/Habitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aseo</servlet-name>
        <url-pattern>/Aseo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Estudiantes</servlet-name>
        <url-pattern>/Estudiantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignarEstudiantes</servlet-name>
        <url-pattern>/AsignarEstudiantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listar</servlet-name>
        <url-pattern>/Listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticion_Proveedores</servlet-name>
        <url-pattern>/Peticion_Proveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticion_Residencia</servlet-name>
        <url-pattern>/Peticion_Residencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticion_Habitacion</servlet-name>
        <url-pattern>/Peticion_Habitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticion_Aseo</servlet-name>
        <url-pattern>/Peticion_Aseo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticion_Estudiante</servlet-name>
        <url-pattern>/Peticion_Estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticion_AsignarEstudiante</servlet-name>
        <url-pattern>/Peticion_AsignarEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Proveedor</servlet-name>
        <url-pattern>/Eliminar_Proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Residencia</servlet-name>
        <url-pattern>/Eliminar_Residencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Habitacion</servlet-name>
        <url-pattern>/Eliminar_Habitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Aseo</servlet-name>
        <url-pattern>/Eliminar_Aseo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Estudiante</servlet-name>
        <url-pattern>/Eliminar_Estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_AsignarEstudiante</servlet-name>
        <url-pattern>/Eliminar_AsignarEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar_Proveedor</servlet-name>
        <url-pattern>/Actualizar_Proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar_Residencia</servlet-name>
        <url-pattern>/Actualizar_Residencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar_Habitacion</servlet-name>
        <url-pattern>/Actualizar_Habitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar_Aseo</servlet-name>
        <url-pattern>/Actualizar_Aseo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar_Estudiante</servlet-name>
        <url-pattern>/Actualizar_Estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar_Estudiante</servlet-name>
        <url-pattern>/Actualizar_Estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServlet1</servlet-name>
        <url-pattern>/ChartServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServlet3</servlet-name>
        <url-pattern>/ChartServlet3</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/ChartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
